.page-header
  %ul.breadcrumb
    %li
      %a(href="#{dashboard_account_path(@test_result.github_branch.github_repository.account.id)}") Repositories
    %li
      %a(href="#{dashboard_github_repository_path(@test_result.github_branch.github_repository.id)}")=@test_result.github_branch.github_repository.full_name
    %li
      %a(href="#{dashboard_github_repository_path(@test_result.github_branch.id)}")=@test_result.github_branch.name

  %h1 Details of #{I18n.l(@test_result.created_at, format: :short)}

.list-group
  - @test_result.test_result_items.each do |test_result_item|
    %a.list-group-item
      .row
        .col-xs-1
          =render partial:'test_results/status', object: test_result_item.status
        .col-xs-11
          %p.list-group-item-text.center
            =test_result_item.description
