<h2>Github events</h2>


<% if @items.count > 0 %>
<table>
  <thead>
  <th>Payload</th>
  <th>Created at</th>
  </thead>
  <tbody>
  <% @items.each do |item| %>
      <td><%= item.payload %></td>
      <td><%= item.created_at %></td>
  <% end %>
  </tbody>
</table>
<% else %>
    No events
<% end %>