.page-header
  %h1 Repositories

.list-group
  - @account.github_repositories.each do | repository |
    %a.list-group-item(href="#{dashboard_github_repository_path(repository.id)}")
      %h4=repository.full_name.sub('/', ' / ')